<%- include('global/header', {title: data.title, blog_array: blog_array}); %>

<h1>
  <%= data.title %>
</h1>

<body>
  <div class="row">
    <div class="col s4">
      <h3>
        <%= data.author %> <!-- author -->
      </h3>
    </div>
    <div class="col s4">
      <h3>
        <%= data.date %> <!-- date -->
      </h3>
    </div>
    <div class="col s4">
      <div class="collection">
        <% for(let i=0; i<data.tags.length; i++){ %> <!-- tags -->
        <h3 class="collection-item teal lighten-1">
          <%= data.tags[i] %>
        </h3>
        <%}%>
      </div>
    </div>
  </div>
  <div id="blogText">
    <p>
      <%= data.text[0] %> <!-- para 1 -->
    </p>
    <p>
      <%= data.text[1] %> <!-- para 2 -->
    </p>
  </div>
</body>

<%- include('global/footer'); %>

</html>
